// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './assets/_theme.scss' as theme;
@include mat.core();


html {
  color-scheme: light dark;
  @include mat.theme((
    color: theme.$primary-palette,
    typography: Roboto,
    density: 0
  ));
}

// General body styles
body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Basic styling for the main container to ensure content is not hidden by the fixed button */
.main-container {
  padding-top: 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
