@use '@angular/material' as mat;

:host {
  background-color: var(--grid-bg);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.game-over-text {
  font-size: 2.2rem;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 5px;
}

.game-over .final-score-label {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-bottom: 0;
  margin-top: 5px;
}

.game-over .final-score-value {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5px;
  color: var(--primary-color);
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: var(--grid-bg);
  border-radius: 8px;
  gap: 10px;
}

.stats p {
  margin-top: 5px;
  color: var(--text-color);
}

.play-again {
  --mdc-protected-button-container-color: var(--button-bg-color);
  --mdc-protected-button-label-text-color: var(--button-text-color);
}
