<h1 mat-dialog-title class="game-over-title">Game Over!</h1>
<div mat-dialog-content class="game-over">
  <div class="stats-container">
    <p>Level: {{ gameService.currentLevel() }}</p>
    <p>Tiles to remember: {{ gameService.numTilesToLight() }}</p>
    <p>Correctly clicked in sequence: {{ correctlyClickedTilesInSequence() }}</p>
    <p>Correctly clicked not in sequence: {{ correctlyClickedTilesNotInSequence() }}</p>

    <span class="final-score-label">Final Score:</span>
    <span class="final-score-value">{{ gameService.score() }}</span>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button matButton (click)="onClose()">Close</button>
  <button matButton="tonal" (click)="onRetryLevel()" class="retry-button">Retry Level</button>
  <button matButton="filled" (click)="onPlayAgain()">Play Again</button>
</div>
