.light {
  --md-sys-color-primary: rgb(95 87 144);
  --md-sys-color-surface-tint: rgb(95 87 144);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(229 222 255);
  --md-sys-color-on-primary-container: rgb(71 63 119);
  --md-sys-color-secondary: rgb(96 92 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(229 223 249);
  --md-sys-color-on-secondary-container: rgb(72 68 89);
  --md-sys-color-tertiary: rgb(124 82 100);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 230);
  --md-sys-color-on-tertiary-container: rgb(98 59 76);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(253 248 255);
  --md-sys-color-on-background: rgb(28 27 32);
  --md-sys-color-surface: rgb(253 248 255);
  --md-sys-color-on-surface: rgb(28 27 32);
  --md-sys-color-surface-variant: rgb(229 224 236);
  --md-sys-color-on-surface-variant: rgb(72 69 78);
  --md-sys-color-outline: rgb(121 117 127);
  --md-sys-color-outline-variant: rgb(201 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 47 54);
  --md-sys-color-inverse-on-surface: rgb(244 239 247);
  --md-sys-color-inverse-primary: rgb(201 191 255);
  --md-sys-color-primary-fixed: rgb(229 222 255);
  --md-sys-color-on-primary-fixed: rgb(27 17 73);
  --md-sys-color-primary-fixed-dim: rgb(201 191 255);
  --md-sys-color-on-primary-fixed-variant: rgb(71 63 119);
  --md-sys-color-secondary-fixed: rgb(229 223 249);
  --md-sys-color-on-secondary-fixed: rgb(28 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(201 195 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(72 68 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 230);
  --md-sys-color-on-tertiary-fixed: rgb(48 17 32);
  --md-sys-color-tertiary-fixed-dim: rgb(237 184 205);
  --md-sys-color-on-tertiary-fixed-variant: rgb(98 59 76);
  --md-sys-color-surface-dim: rgb(221 216 224);
  --md-sys-color-surface-bright: rgb(253 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 242 250);
  --md-sys-color-surface-container: rgb(241 236 244);
  --md-sys-color-surface-container-high: rgb(235 230 238);
  --md-sys-color-surface-container-highest: rgb(229 225 233);
}
